/* Empty file for template. Remember to edit only this file and not the HTML file */



h1 {
    display:flex;
    background-color: black;
    color:white;
    font-size:70px;
    width:180vh;
    align-items: center;
    padding:25px;
    position:relative;
    bottom:150px;
}
h2 {
    display:flex;
    background-color:black;
    background-size:70px;
    color:white;
    font-size:37px;
    justify-content:flex-end;
    width:180vh;
    height:10vh;
    align-self:flex-end;
    padding:25px;
    position:relative;
    bottom:220px;
    float:right;
}

body {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:rgb(255, 255, 255);
    padding:70px;
    max-width: 100%;
    height:auto;
    background-image: linear-gradient(#462908, #291803);
    font-family:Georgia, 'Times New Roman', Times, serif;
    image: url("https://static.wixstatic.com/media/7b821f_84fd9f875fdb4577977781e2b2feb2fa~mv2.jpg/v1/fill/w_480,h_322,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/7b821f_84fd9f875fdb4577977781e2b2feb2fa~mv2.jpg");
}
.page-wrapper {
    background-image: 
}

.summary {
    font-size:20px;
    align-self:center;
    width: 900px;
    height: px;
    padding:20px;
    flex-wrap:wrap;
    float: right;
    background-color: #000000;
}

.preamble {
    font-size:20px;
    align-self:center;
    width: 500px;
    height: px;
    padding:20px;
    flex-wrap:wrap;
    background-color: #d1d19d;
    position: relative;
    left: 50px;
}
.preamble p {
    position: relative;
    bottom: 120px;
}
.preamble h3 {
    position: relative;
    bottom: 120px;
}


.explanation {
    font-size:20px;
    align-self:center;
    width: 500px;
    height: px;
    padding:20px;
    flex-wrap:wrap;
    float: right;
    right: 50px;
    float:right;
    background-color: #d1d19d;
    position: relative;
    right: 70px;
}
.participation {
    font-size:20px;
    align-self:center;
    width: 500px;
    height: px;
    padding:20px;
    flex-wrap:wrap;
    background-color: #d1d19d;
    position:relative;
    top: 60px;
    position: relative;
    left: 50px;
}
.benefits {
    font-size:20px;
    align-self:center;
    width: 500px;
    height: px;
    padding:20px;
    flex-wrap:wrap;
    float:right;
    right: px;
    background-color: #d1d19d;
    position: relative;
    right: 70px;
}

.requirements {
    font-size:20px;
    align-self:center;
    width: 900px;
    height: px;
    padding:20px;
    flex-wrap:wrap;
    color:purple;
    background-color: #d1d19d;
    position:relative;
    top: 120px;
    position: relative;
    left: 50px;
}

footer {
    display:flex;
    font-size:80px;
    align-self:flex-end;
    justify-content:space-around;
    position:relative;
    top:798px;
}

.sidebar {
    font-size:20px;
    align-self:center;
    width: 500px;
    height: px;
    padding:20px;
    flex-wrap:wrap;
    float: right;
    right: 50px;
    float:right;
    background-color: black;
}

.extra1 {
    image: url()
}

section {
    color: rgb(255, 255, 255);
}